@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-image: url(./image/interior-bg.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container .header-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 90px;
}

.container .header-section .logo{
  margin-top: 10px;
}
.container .header-section .logo .logo-image{
width: 100px;
}
.header-section .navbar,
.header-section .navbar .list-items, 
.header-section .contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header-section .navbar{
  position: relative;
}

.header-section .navbar .list-items .list-item{
  margin: 0px 22px;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;

}

.header-section .navbar .list-items .list-item a{
  text-decoration: none;
  color: #ffffff;
}

.header-section .contact{
margin-left: 22px;
}

.header-section .contact .call-us-icon{
 width: 30px;
}

.header-section .contact .call-us-para{
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #ffffff;
  align-self: center;
}

.header-section .navbar .list-items::before{
 content: "";
 background-color: #ffffff;
 position: absolute;
 top: 185%;
 left: 3%;
 width: 100%;
 height: 1px;

}

.hero-section{
position: relative;
}

.hero-section .hero-content{
padding: 80px 20px 20px 90px;
}

.hero-section .hero-content .hero-heading{
  font-size: 55px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin: 30px 0px;
  color: #ffffff;
  line-height: 75px;
  width: 16ch;

}

.hero-section .hero-content .hero-button{
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  padding: 18px 35px;
  border-radius: 35px;
  border: 2px solid #ffffff;
  outline: none;
  color: #ffffff;
  background-color: transparent;

}

.hero-section .brand-msg{
  color: #ffffff;
  background-color:#dadada3b;
  padding:0px 20px 15px 20px;
  width: 220px;
  height: 110px;
}

.hero-section #msg-1{
  position: absolute;
  top: 6%;
  left: 62%;
}

.hero-section #msg-2{
  position: absolute;
  top: 85%;
  left: 40%;
}

.hero-section .brand-msg .brand-msg-para{
font-size: 13px;
font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.hero-section .brand-msg .brand-msg-image{
  width: 65px;
}

.hero-section .lines{
background-color: #ffffff;
width: 60px;
height: 1px;

}

.hero-section .line-1{
position: absolute;
top: 96%;
  left: 732px;
}

.hero-section .line-2{
  position: absolute;
  top: 35.2%;
  left: 944px;
  width: 1px;
height: 60px;
}

.hero-section .dots{
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.hero-section .dot-1{
  position: absolute;
  top: 94%;
  left: 786px;
}

.hero-section .dot-2{
  position: absolute;
  top: 50%;
  left: 938px;
}